<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'Ovo je moj naslov'" />
<h3 th:text="'Ovo je moj drugi naslov'" />
<p th:text="'Pozdrav, ' + ${name} + ', wooohooo!'" />
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/330px-Image_created_with_a_mobile_phone.png"   />
</body>
</html>
